@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

body{
    background-color: rgb(21, 21, 126);
    background-image:url(../img/fondo.png);
    background-repeat: no-repeat;
    background-position:50% -5%;
}

header{
    text-align: center;
    margin-top: 5%;

}

header img{
    width: 40%;
}

section{
    background-color: #ff3131;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -1.3%;
    padding-top: 1%;
    padding-bottom: 5%;
}

section h1{
    color: yellow;
    font-size: 300%;
    font-family: 'Rubik Bubbles';
    letter-spacing: 5px;
}

section h2{
    color: yellow;
    font-size: 200%;
    margin-top: -5%;
    font-family: 'Rubik Bubbles';
}

section img{
    margin-top: -3%;
    width: 10%;

}

section h5{
    color: yellow;
    font-size: 150%;
    margin-top: 2%;
    font-family: 'Rubik Bubbles';
}

section p{
    margin-top: -2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 7%;
}

section a{
    border-radius: 80px;
    letter-spacing: 2px;
    padding: 10px 70px 10px 70px;
    font-size: 20px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    transition: 0.5s;    
    text-decoration: none;
}

/*Animacion del boton*/
section a:hover{
    border: none;
    border-radius: 80px;
    letter-spacing: 2px;
    padding: 10px 70px 10px 70px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

footer{
    background-color: #ff3131;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -1.3%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.social {
    font-size: 130%;
    text-align: center;
    padding-right: 3%;
    padding-bottom: 2%;
    margin-top: -5%;
}

.social a{
    padding-left: 2%;
    text-decoration: none;
    color:black;
}


footer p a{
    text-decoration: none;
}





@media screen and (max-width: 480px) {
    
    header img{
        width: 80%;
    }
    section{

        margin-left: 10%;
        margin-right: 10%;
        margin-top: -1.3%;
        padding-top: 1%;
        padding-bottom: 5%;
    }

    footer{

        margin-left: 10%;
        margin-right: 10%;
        margin-top: -1%;
        padding-top: 7%;
        padding-bottom: 2%;
    }





}





















