@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url("https://classic.yarnpkg.com/en/package/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

/*PARTE DE ARRIBA*/

#foto1{

    margin-left: 15%;
    width: 1368px;
    height: 150px;
    
}

#portada{

    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 40px;
    margin-top: -4px;
    margin-left: 15%;
    margin-right: 9%;
    border: 1px solid black;
    
}

#titulo{

    font-size: 300%;
    font-family: 'Press Start 2P', cursiva;
}

nav{

    display: flex;
    justify-content: center;
    color: white;
    height: 48px;
    text-align: center;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0% rgb(255, 255, 255) 100%);
    border-bottom: 1px solid #000000;
    margin-top: -10px;

}

nav a{

    text-decoration: none;
    color: #ffffff;
    font: bold 1.0rem arial;
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    margin:2.5px;
    border-width: 0%;

}

nav a:hover{

    color:#ffffff;
    background-color: rgb(31, 153, 0);
    transition: all ls ease;

}


/*PARTE DE EN MEDIO*/

#titulo2{

    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 180%;
    
    


}

#contenedor{

    display: grid;
    margin-left: 14.7%;
    margin-right: 14.7%;
    filter:drop-shadow(10px 10px 10px #444);
    grid-column-gap: 1%;
    
   
}

#N1{

    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    grid-column-gap: 1%;

}

#N2 {
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    grid-column-gap: 1%;
}

#N3 {
    grid-column-start: 3;
    grid-column-end: 4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    grid-column-gap: 1%;
}
 
#N4 {
    grid-column-start: 4;
    grid-column-end: 5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    grid-column-gap: 1%;
}

#bloque1{

    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-column-gap: 1%;
}

#bloque2{

    grid-column-start: 3;
    grid-column-end: 5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-column-gap: 1%;
}

#video1{

    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-gap: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
#video2{

    grid-column-start: 3;
    grid-column-end: 5;
    grid-column-gap: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#foto2{

    width: 334px;
    height: 200px;

    

}


#foto3{

    
    width: 645px;
    height: 250px;
    margin-top: 2%;
    margin-left: 2%;


}

#video1{

    margin-top: 2%;
    margin-left: -0.1%;



}

#video2{

    margin-top: 2%;

}

h4{

    font-family: 'Black Ops One', cursiva;

}

#cursos{

    margin-left: 2%;
    margin-right: 2%;
    text-align:start;


}

#cursos2{
    
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;


}


/*PARTE DEL FINAL*/


li{

    color: white;
    margin-bottom: 3%;
    font-size: 90%;

}

h3{

    color: white;
    font-family: 'Dhurjati', sans-serif;
    font-size: 150%;
    margin-left: 5%;


}

#boton{

    color: white;
    background-color: rgb(19, 165, 0);
    padding-top: 5px;
    padding-bottom: 5px;


}

footer{

    margin-top: 1%;
    margin-left: 14.6%;
    margin-right: 12.1%;
    background-color: black;


}

#contenedor1{

    display: grid;
    margin-left: 14.7%;
    margin-right: 8.4%;
    filter:drop-shadow(10px 10px 10px #444);
    grid-column-gap: 1%;
    
   
}

#N11{

    grid-column-start: 1;
    grid-column-end: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-column-gap: 1%;
    margin-right: 300px;

}

#N22{

    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-column-gap: 1%;

    margin-left: -300px;
}


#N33{

    grid-column-start: 3;
    grid-column-end: 4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-column-gap: 1%;

}

#N44{

    grid-column-start: 4;
    grid-column-end: 5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-column-gap: 1%;

}

#icono{

    width: 30px;

}

#final{


    background-color: rgb(37, 37, 37);
    width: 212.5%;
    text-align: center;
    color: rgb(19, 165, 0);;


}

#link a{

    color: white;
    text-decoration:none;

}

